<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<body>
<div id="page">
  <div id="cntr" class="cntr">

    <div id="head">
      TAX COMPUTATIONS FOR YEAR 2015-16
    </div>

    <div>
      <div class="p30">
        <span>ID: </span><span></span>
      </div>
      <div class="p30">
        <span>NAME:</span><span></span>
      </div>
    </div>

    <div id="content">

      <div id="leftRow">
        <div id="content_0">
          <table>
            <tr>
              <td>BASIC</td>
              <td></td>
            </tr>
            <tr>
              <td>HOUSE RENT ALLOWANCE</td>
              <td></td>
            </tr>
            <tr>
              <td>SPECIAL ALLOWANCE</td>
              <td></td>
            </tr>
            <tr>
              <td>CONVEYANCE</td>
              <td></td>
            </tr>
            <tr>
              <td>BONUS</td>
              <td></td>
            </tr>
            <tr>
              <td>JOINING BONUS</td>
              <td></td>
            </tr>
            <tr>
              <td>LTA ADVANCE</td>
              <td></td>
            </tr>
            <tr>
              <td>RETENTION BONUS</td>
              <td></td>
            </tr>
            <tr>
              <td>LTA ADVANCE</td>
              <td></td>
            </tr>
            <tr>
              <td>RETENTION BONUS</td>
              <td></td>
            </tr>
            <tr>
              <td>MEDICAL TAXABLE</td>
              <td></td>
            </tr>
            <tr>
              <td>BOOKS & PERIODICAL TAX</td>
              <td></td>
            </tr>
            <tr>
              <td>TELEPHONE AND INTERNET TAX</td>
              <td></td>
            </tr>
          </table>
        </div>

        <div id="content_1">
          <table>
            <tr>
              <th>GROSS INCOME WITHOUT PERK</th>
              <th></th>
            </tr>
            <tr>
              <td>LOAN PERK</td>
              <td></td>
            </tr>
            <tr>
              <td>ESOP PERK</td>
              <td></td>
            </tr>
            <tr>
              <td>GROSS PERK</td>
              <td></td>
            </tr>
          </table>
        </div>

        <div id="content_2">
          <table>
            <tr>
              <th>GROSS INCOME</th>
              <th></th>
            </tr>
            <tr>
              <td>HRA EXEMPTION</td>
              <td></td>
            </tr>
            <tr>
              <td>CONVEYANCE EXEMPTION</td>
              <td></td>
            </tr>
            <tr>
              <td>LTA EXEMPTION</td>
              <td></td>
            </tr>
            <tr>
              <td>EDUCATION EXEMPTION</td>
              <td></td>
            </tr>
            <tr>
              <td>MEDICAL EXEMPTION</td>
              <td></td>
            </tr>
          </table>
        </div>

        <div id="content_3">
          <table>
            <tr>
              <th>TOTAL EXEMPTION</th>
              <th></th>
            </tr>
            <tr>
              <td>SALARY AFTER SECTION 10</td>
              <td></td>
            </tr>
            <tr>
              <td>PREVIOUS EMPLOYER SALARY</td>
              <td></td>
            </tr>
            <tr>
              <td>PT</td>
              <td></td>
            </tr>
            <tr>
              <td>PREVIOUS EMPLOYER PT</td>
              <td></td>
            </tr>
            <tr>
              <td>SALARY AFTER SECTION 16</td>
              <td></td>
            </tr>
            <tr>
              <td>INCOME FROM HOUSE PROPERTY</td>
              <td></td>
            </tr>
            <tr>
              <td>INCOME FROM OTHER SOURCES</td>
              <td></td>
            </tr>
          </table>
        </div>

        <div id="content_4">
          <table>
            <tr>
              <th>TOTAL EXEMPTION</th>
              <th></th>
            </tr>
            <tr>
              <td>SALARY AFTER SECTION 10</td>
              <td></td>
            </tr>
            <tr>
              <td>PREVIOUS EMPLOYER SALARY</td>
              <td></td>
            </tr>
            <tr>
              <td>PT</td>
              <td></td>
            </tr>
            <tr>
              <td>PREVIOUS EMPLOYER PT</td>
              <td></td>
            </tr>
            <tr>
              <td>SALARY AFTER SECTION 16</td>
              <td></td>
            </tr>
            <tr>
              <td>INCOME FROM HOUSE PROPERTY</td>
              <td></td>
            </tr>
            <tr>
              <td>INCOME FROM OTHER SOURCES</td>
              <td></td>
            </tr>
          </table>
        </div>

        <div id="content_5">
          <table>
            <tr>
              <th>GROSS TOTAL INCOME</th>
              <th></th>
            </tr>
            <tr>
              <td>INVESTMENT UNDER SEC 80CCE</td>
              <td></td>
            </tr>
            <tr>
              <td>RGRESS SEC 80CCG</td>
              <td></td>
            </tr>
            <tr>
              <td>MEDICLAIM SEC 80D</td>
              <td></td>
            </tr>
            <tr>
              <td>EDUCATION LOAN SEC 80E</td>
              <td></td>
            </tr>
            <tr>
              <td>INTEREST ON HOUSING LOAN SEC 80EE</td>
              <td></td>
            </tr>
            <tr>
              <td>HANDICAP (DEPENDENT) SEC 80DD</td>
              <td></td>
            </tr>
            <tr>
              <td>HANDICAP (SELF) SEC 80U</td>
              <td></td>
            </tr>
          </table>
        </div>

        <div id="content_6">
          <table>
            <tr>
              <th>GROSS TOTAL INCOME</th>
              <th></th>
            </tr>
          </table>
        </div>

      </div>

      <div id="rightRow">

        <div id="content_7">
          <table>
            <tr>
              <td>TAXABLE INCOME</td>
              <td></td>
            </tr>
            <tr>
              <td>TAX ON INCOME</td>
              <td></td>
            </tr>
            <tr>
              <td>REBATE UNDER SEC 87A</td>
              <td></td>
            </tr>
            <tr>
              <td>SURCHARGE</td>
              <td></td>
            </tr>
            <tr>
              <td>TAX AFTER SURCHARGE</td>
              <td></td>
            </tr>
            <tr>
              <td>EDUCATION CESS</td>
              <td></td>
            </tr>
            <tr>
              <td>TOTAL TAX</td>
              <td></td>
            </tr>
            <tr>
              <td>TAX DEDUCTED TILL LAST MONTH</td>
              <td></td>
            </tr>
            <tr>
              <td>PREVIOUS EMPLOYMENT TAX</td>
              <td></td>
            </tr>
          </table>
        </div>

        <div id="content_8">
          <table>
            <tr>
              <td>TAXABLE INCOME</td>
              <td></td>
            </tr>
            <tr>
              <td>TAX ON INCOME</td>
              <td></td>
            </tr>
            <tr>
              <td>REBATE UNDER SEC 87A</td>
              <td></td>
            </tr>
          </table>
        </div>


        <div id="content_9">
          <table>
            <tr>
              <th>** INVESTMENT UNDER SECTION 80C</th>
            </tr>
            <tr>
              <td>PR- PREVIOUS EMPLOYER</td>
              <td></td>
            </tr>
            <tr>
              <td>PF</td>
              <td></td>
            </tr>
            <tr>
              <td>VPF</td>
              <td></td>
            </tr>
            <tr>
              <td>HLPR</td>
              <td></td>
            </tr>
            <tr>
              <td>LIC</td>
              <td></td>
            </tr>
            <tr>
              <td>ULIP</td>
              <td></td>
            </tr>
            <tr>
              <td>ELSS</td>
              <td></td>
            </tr>
            <tr>
              <td>PPF</td>
              <td></td>
            </tr>
            <tr>
              <td>NSC</td>
              <td></td>
            </tr>
            <tr>
              <td>NSCAI</td>
              <td></td>
            </tr>
            <tr>
              <td>INF BONDS</td>
              <td></td>
            </tr>
            <tr>
              <td>NSS</td>
              <td></td>
            </tr>
            <tr>
              <td>MUTUAL FUND</td>
              <td></td>
            </tr>
            <tr>
              <td>SENIOR CITIZEN</td>
              <td></td>
            </tr>
            <tr>
              <td>POST OFFICE TERM DEPOSIT</td>
              <td></td>
            </tr>
            <tr>
              <td>CHILD EDUCATION EXPENSES</td>
              <td></td>
            </tr>
            <tr>
              <td>FIXED DEPOSIT</td>
              <td></td>
            </tr>
          </table>
        </div>

        <div id="content_10">
          <table>
            <tr>
              <td>TOTAL INVESTMENT U/S 80C</td>
              <td></td>
            </tr>
            <tr>
              <td>PENSION PLAN -80CCC</td>
              <td></td>
            </tr>
            <tr>
              <td>NATIONAL PENSION SCHEME</td>
              <td></td>
            </tr>
            <tr>
              <td>SECTION 80 CCE (SEC80C + SEC80CCC + SEC80CCD)</td>
              <td></td>
            </tr>
          </table>
        </div>

        <div id="content_11">
          <table>
            <tr>
              <th>TOTAL INVESTMENT S U/S 80CCE</th>
              <th></th>
            </tr>
          </table>
        </div>

        <div id="content_12">
          <table>
            <tr>
              <th>HRA CALCULATIONS</th>
              <th></th>
            </tr>
            <tr>
              <td>TOTAL RENT PAID</td>
              <td></td>
            </tr>
            <tr>
              <td>10% SALARY</td>
              <td></td>
            </tr>
            <tr>
              <td>RENT PAID 10% SALARY</td>
              <td></td>
            </tr>
            <tr>
              <td>SALARY 40% OR 50%</td>
              <td></td>
            </tr>
            <tr>
              <td>ACTUAL HRA PAID</td>
              <td></td>
            </tr>
            <tr>
              <td style="font-weigth:bold;">LEAST OF THE THREE</td>
              <td></td>
            </tr>
          </table>
        </div>

      </div>

    </div>

  </div>
</div>
</body>
</html>
