<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <div id="cntr" class="cntr">
    <div id="name">
      Dear nameOfTheEmployee
    </div>
    <div id="content">
      <table>
        <tbody>
          <tr>
            <th>SECTION</th>
            <th>NATURE OF DEDUCTIONS</th>
            <th>REMARKS</th>
          </tr>
          <tr>
            <td>80CCC</td>
            <td>
              Payment of premium for annuity plan of LIC or any other       insurer Deduction is available upto a  maximum of Rs. 1,00,000/- - See more at: http://taxguru.in/income-tax/deductions-chapter-applicable-assessees-income-salaries.html#sthash.uaXrdhyn.dpuf
            </td>
            <td>
              The premium must be deposited to keep in force a contract for an annuity plan of the LIC or any other insurer for receiving pension from the fund. The Finance Act 2015 has enhanced the ceiling of deduction under Section 80CCC from Rs.100,000 to Rs. 1,50,000 with effect from A.Y. 2016-17Read more – Income Tax Deduction Under section 80CCC - See more at: http://taxguru.in/income-tax/deductions-chapter-applicable-assessees-income-salaries.html#sthash.uaXrdhyn.dpuf
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</html>
