<h1 style="text-align:center;color:#00509d;
font-family: helvetica,arial!important">ThunderingHerd</h1>

<div style="width:1200px;margin:0 auto;
border:5px solid #00509d;padding: 20px;color: #ffffff; background:#ffffff;border-radius: 3px;
box-shadow: 0 3px 0 rgba(0,0,0,0.04);">
  <span style="color:#555;font-size:18px;">
    TOP 10 SELLING PRODUCTS IN INDIA</span>
  <table>
    <tr>
      <%= @topProducts.each do |product| %>
        <td style="font-family: helvetica,arial!important;
  font-size: 16px!important;
  font-weight: bold!important;
  text-decoration: none;
  color: #000;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 3px 0 rgba(0,0,0,0.04);
  vertical-align: baseline;"><%= product %></td>
      <% end %>
    </tr>
  </table>

  <div>
    <a style="text-align:center;width:92%;margin-top:20px;font-family: helvetica,arial!important;
  font-weight: bold!important;
  background: #00509d;
text-decoration: none;
color: #fff;
padding: .5em 1.2em;
  border: 2px solid #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 0 rgba(0,0,0,0.04);
  vertical-align: baseline;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
  font-size: 38px;
  cursor: pointer;
  zoom: 1;
  display: inline-block;height:50px;" href= <%=employee_all_path %>>Show All Employees</a>
  </div>

  <div>
    <a style="text-align:center;width:92%;margin-top:20px;font-family: helvetica,arial!important;
  font-weight: bold!important;
  background: #00509d;
text-decoration: none;
color: #fff;
padding: .5em 1.2em;
  border: 2px solid #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 0 rgba(0,0,0,0.04);
  vertical-align: baseline;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
  font-size: 38px;
  cursor: pointer;
  zoom: 1;
  display: inline-block;height:50px;" href= <%=employee_add_path %>>Add an employee</a>
  </div>
</div>
